styles.css
/* Fonts */
body {
    font-family: 'Quicksand', sans-serif;
    }

    h1, h2, h3, h4, h5, h6 {
    font-family: 'Quicksand', sans-serif;
    }

    /* Navbar */
    .navbar-brand img {
        width: 90px;
        height: 90px;
    }
    .navbar-light .navbar-brand {
        color: rgb(22, 114, 22);
    }

    .header-image-container {
        width: 90px;
        height: 80px;
        box-sizing: border-box;
        overflow: hidden;
        padding-bottom: 40px;
    }

    /* Jumbotron */
    .jumbotron {
        /* background image */
        background-attachment: fixed;
        background-image: url(nightswing2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 400px;
        
        /* fonts */
        color: white;
        text-shadow: 1px 1px 1px black;
    }

    /* Cards */
    .card {
        box-shadow: #aeddff 10px 10px;
    }

    /* .form-button {
        background-color: rgb(23, 162, 184);
        color: white;
        border-radius: 6px;
    } */

    .footer {
        color: #aeddff;
    }